# --- Framework e IA ---
langchain
langchain-community
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters

# --- Banco de Vetores ---
chromadb
# IMPORTANTE: Necessário para o ChromaDB funcionar no Render/Linux
pysqlite3-binary 

# --- Processamento (Versões CPU para Nuvem) ---
# Removemos as versões +cu118 para ficar leve
torch
torchvision
torchaudio
sentence-transformers
transformers
huggingface-hub
tokenizers
numpy

# --- API e Web ---
fastapi
uvicorn
python-dotenv
pydantic

# --- Utilitários ---
tqdm